<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthyrate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthyRate">
        <activity android:name=".ManageUserBookingNew"></activity>
        <activity android:name=".UpdateUserBooking" />
        <activity android:name=".ManageUserBooking" />
        <activity android:name=".ConfirmAppointment" />
        <activity android:name=".AddAppointment" />
        <activity android:name=".DoctorList" />
        <activity android:name=".HospitalList" />
        <activity android:name=".TestAppointmentInsert" />
        <activity android:name=".MakeAppointment01" />
        <activity

            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HealthyRate.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>